{% extends "registration/registration_base.html" %}
{% block 'auth' %}
  {% if form.errors %}
  <header class="form-errors">
    <p>Er is iets fout gegaan tijdens het inloggen. Los de volgende problemen
    op en probeer opnieuw in te loggen.</p>
    {% for field in form %}
    <ul>
    {% for error in field.errors %}
    <li>{{ error|escape }}</li>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <li>{{ error|escape }}</li>
    {% endfor %}
    </ul>
  </header>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Jouw account heeft geen toegang tot deze pagina. Login met een account
      dat de rechten heeft om deze pagina te bekijken.</p>
    {% else %}
      <p>Login om deze pagina te bekijken.</p>
    {% endif %}
  {% endif %}
{% endblock %}


{% block 'content' %}
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

    <fieldset>
      <legend>Inloggegevens</legend>
      <p>
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
      </p>
      <p>
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
      </p>
    </fieldset>

  <input type="submit" value="login" class="actionbtn"/>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <a href="{% url 'password_reset' %}">
    Wachtwoord vergeten? <i class="fas fa-long-arrow-alt-right"></i>
  </a>
  <a href="{% url 'register' %}">
    Nog geen account? Vraag een account aan <i class="fas fa-long-arrow-alt-right"></i>
  </a>
{% endblock %}
