{% extends "registration/registration_base.html" %}

{% block 'content' %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    <header id="errors">
      <p>Er is iets fout gegaan tijdens het wachtwoord resetten. Los de volgende
        problemen op en probeer opnieuw in te loggen:</p>
    {{ form.email.errors }}
    </header>
  {% endif %}
    <fieldset>
      <legend>Email voor wachtwoord reset</legend>
      <p>
        {{ form.email.label_tag }}
        {{ form.email }}
      </p>
    </fieldset>
    <input type="submit" class="actionbtn" value="Reset wachtwoord">
  </form>
  <a href="{% url 'login' %}">
    <i class="fas fa-long-arrow-alt-left"></i> Terug naar inlogscherm
  </a>
{% endblock %}
