{% extends "registration/registration_base.html" %}


{% block 'content' %}
    {% if validlink %}
        <p>Voer hier uw nieuwe wachtwoord in.</p>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <header id="errors">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
          </header>
          {% endif %}
          <fieldset>
            <p>
              <label for="id_new_password1">Nieuw wachtwoord:</label>
              {{ form.new_password1 }}
            </p>
            <p>
              <label for="id_new_password2">Bevestig wachtwoord:</label>
              {{ form.new_password2 }}
            </p>

          </fieldset>
          <input class="actionbtn" type="submit" value="Verander mijn wachtwoord" />
        </form>
        <a href="{% url 'login' %}">
          <i class="fas fa-long-arrow-alt-left"></i> Terug naar inlogscherm
        </a>
    {% else %}
        <h1>Wachtwoord resetten mislukt</h1>
        <p>
          De reset link die u heeft gebruikt is ongeldig. De link is waarschijnlijk
          al eerder gebruikt. Vraag alstublieft een nieuwe reset link aan.
        </p>
        <p class="row actionlink">
          <a href="{% url 'password_reset' %}">Vraag nieuwe link aan</a>
          <i class="fas fa-caret-right"></i>
        </p>
    {% endif %}
{% endblock %}
