
  <section>
    <header>
      <h1>Zicht krijgen en reflecteren op mijn identiteit</h1>
    </header>

    <p>
      Het onderstaande tekstvak kan ingevuld worden met een reflectie op
      de eigen identiteit. Deze reflectie kan je vervolgens in je profiel opslaan.
      door op "opslaan" te klikken. Als je niet goed weet waar je moet
      beginnen, bekijk dan de suggestievragen.
    </p>
    <button class="foldbutton" onclick="foldSuggestionWindow(this, '#sq1')">
      Suggestievragen <i class="fas fa-caret-right"></i>
    </button>
    <ul id="sq1" class="suggestion-questions column default-hidden">
      <li>Waarom wil je leerkracht worden?</li>
      <li>
        Hoe zie jijzelf als leerkracht? Denk aan bijvoorbeeld:
        Ik ben een grappige leerkracht of Ik ben een lieve leerkracht.
      </li>
      <li>
        Welke gedachten heb je over jezelf als je aan het lesgeven bent?
        Denk aan bijvoorbeeld: Zullen de kinderen wel naar mij luisteren?
      </li>
      <li>Welke kwaliteiten heb je?</li>
      <li>Welke valkuilen heb je?</li>
      <li>Wat zijn voor jou belangrijke waarden?</li>
      <li>Wat vind jij belangrijk als leerkracht?</li>
      <li>Vanuit welke visie geef jij les?</li>
      <li>Welke literatuur/documentaires/docenten inspireren jou en waarom?</li>
      <li>
        In hoeverre ervaar je wel eens spanning tussen je rol als student en als
        leerkracht in opleiding?
      </li>
    </ul>
    <form class="column question-answer-form" action="{% url 'update_pi_profile' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="answer-nr" value="answer_q1">
      {{user_form.answer_q1}}
      <button type="submit" class="actionbtn">
        Opslaan
      </button>
    </form>
  </section>

  <section>
    <header>
      <h1>Verhouding van mijn identiteit tot anderen</h1>
    </header>
    <p>
      Door het onderstaande tekstvak in te vullen en op te slaan, kan
      geformuleerd worden hoe de eigen identiteit zich verhoudt tot de
      identiteit van het kind en van anderen in het professionele domein.
      Als je niet goed weet waar je moet beginnen, bekijk dan de suggestievragen.
    </p>
    <button class="foldbutton" onclick="foldSuggestionWindow(this, '#sq2')">
      Suggestievragen <i class="fas fa-caret-right"></i>
    </button>
    <ul id="sq2" class="suggestion-questions column default-hidden">
      <li>
        Welke overeenkomsten en verschillen zie ik tussen mijn achtergrond
        en die van de kinderen in mijn klas?
      </li>
      <li>
        Welke overeenkomsten en verschillen zie ik tussen mijn professionele
        identiteit en die van mijn mentor en/of collega’s op school?
      </li>
      <li>
        Welke overeenkomsten en verschillen zie ik tussen mijn visie op
        onderwijs en die van anderen op school?
      </li>
      <li>
        Hoe en wat kan ik leren van de professionele identiteit van mijn
        mentor en/of collega’s op school?
      </li>
    </ul>

    <form class="column question-answer-form" action="{% url 'update_pi_profile' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="answer-nr" value="answer_q2">
      {{user_form.answer_q2}}
      <button type="submit" class="actionbtn">
        Opslaan
      </button>
    </form>
  </section>
