{% extends "webapp/page_base.html" %}

{% block "page-theme" %}orange-theme{% endblock %}

{% block "page-header" %}
<h1>Verander mijn Instellingen</h1>
{% endblock %}


{% block "main-nav" %}
{% load webapp_tags %}
<li>
  <a href="{% url 'theory'%}">
    Mijn Leer-Kracht-Lijn
  </a>
</li>
{% if request.user|has_group:"Leerling" %}
<li>
  <a href="{% url 'profile' %}">
    Mijn voortgang
  </a>
</li>
{% endif %}
{% if request.user|has_group:"Docent" %}
<li>
  <a href="{% url 'shared_profiles' %}">
    Profielen gedeeld met mij
  </a>
</li>
{% endif %}
{% if request.user.is_superuser %}
<li>
  <a href="{% url 'manage_accounts' %}">
    Manage accounts
  </a>
</li>
{% endif %}

{% endblock %}


{% block "main-content" %}
<article>
  {% if password_changed %}
  <strong>
    Je wachtwoord was met succes veranderd!
  </strong>
  {% endif %}
  <section>
    <header>
      <h1>Email aanpassen</h1>
    </header>
    <form id="edit-email" class="editform column" method="POST">
      {% csrf_token %}
      <p>Huidige email: {{request.user.email}}</p>
      <label for="id_user_email">Nieuwe email</label>
      {{user_form.user_email.errors}}
      <p>{{user_form.user_email}}</p>
      <input type="hidden" name="form" value="emailform">
      <input class="actionbtn" type="submit" value="Email aanpassen">
    </form>
  </section>

  <section>
    <header>
      <h1>Wachtwoord aanpassen</h1>
    </header>

    <form class="column" method="POST">
      {% csrf_token %}
      {{ password_form }}
      <input type="hidden" name="form" value="passwordform">
      <input type="submit" class="actionbtn" value="Wachtwoord aanpassen">
    </form>
  </section>

</article>
{% endblock %}
