{% extends "webapp/page_base.html" %}

{% block "page-theme" %} orange-theme {% endblock %}

{% block "page-header" %}
<h1>Accounts managen</h1>
{% endblock %}


{% block "main-nav" %}
{% load webapp_tags %}
<li>
  <a href="{% url 'theory'%}">
    Mijn Leer-Kracht-Lijn
  </a>
</li>
{% if request.user|has_group:"Leerling" %}
<li>
  <a href="{% url 'profile' %}">
    Mijn voortgang
  </a>
</li>
{% endif %}
{% if request.user|has_group:"Docent" %}
<li>
  <a href="{% url 'shared_profiles' %}">
    Profielen gedeeld met mij
  </a>
</li>
{% endif %}
{% if request.user.is_superuser %}
<li>
  <a class="active-nav-link" href="{% url 'manage_accounts' %}">
    Manage accounts
  </a>
</li>
{% endif %}
{% endblock %}

{% block "secondary-nav" %}
<nav id="secondary-nav" class="darktheme">
  <ul id="secondary-nav-links" class="row navbar">
    <li>
      <a class="active-nav-link" href="{% url 'manage_accounts' %}">
        Account overzicht
      </a>
    </li>
    <li>
      <a href="{% url 'manage_students' %}">
        Student toevoegen
      </a>
    </li>
    <li>
      <a href="{% url 'manage_teachers' %}">
        Docent toevoegen
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block "main-content" %}
<article class="content-section">

    <nav class="row darktheme">
      <fieldset class="column">
        <input onkeyup="filterSharedProfiles(true);" id="studentname" type="text" placeholder="Zoek student op naam..">
        <input onkeyup="filterSharedProfiles(true);" id="studentid" type="text" placeholder="Zoek student op studentId..">
      </fieldset>
      <fieldset>
        <div>
          <label for="joined-since">Accounts geregistreerd vanaf:</label>
          <input onchange="filterSharedProfiles(true);" id="joined-since" type="date">
        </div>
        <div>
          <label for="joined-till">Accounts geregistreerd tot:</label>
          <input onchange="filterSharedProfiles(true);" id="joined-till" type="date">
        </div>

      </fieldset>
    </nav>

    <div class="listing-wrapper">
      <ul id="student-overview" class="listing">
        {% for account in accounts %}
        <li>
          <div class="column">
            <span class="name-data">{{account.username}}</span>
            {% if account.user_profile.student_id %}
            <span>
            student id: (<span class="id-data">{{account.user_profile.student_id}}</span>)
            </span>
            {% else %}
            <span class="id-data"></span>
            {% endif %}
            <span>{{account.email}}</span>
          </div>
          <div>
            registratie: <span class="joined-data">{{account.date_joined|date:"d/m/Y"}}</span>
          </div>


          {% if not account.is_superuser %}
          {% if account.is_active %}
          <form action="{% url 'update_active' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{account.pk}}">
            <input class="setinactive" type="submit" name="form" value="Zet op inactief">
          </form>
          {% else %}
          <form action="{% url 'update_active' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{account.pk}}">
            <input class="setactive" type="submit" name="form" value="Zet op actief">
          </form>
          {% endif %}
          {% else %}
          <div>Admin: wijzigen niet mogelijk</div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
</article>

{% endblock %}
