{% extends "webapp/page_base.html" %}

{% block "page-theme" %}orange-theme{% endblock %}

{% block "page-header" %}
<h1>Mijn Voortgang</h1>
{% endblock %}


{% block "main-nav" %}
{% load webapp_tags %}
<li>
  <a href="{% url 'theory'%}">
    Mijn Leer-Kracht-Lijn
  </a>
</li>
{% if request.user|has_group:"Leerling" %}
<li>
  <a class="active-nav-link" href="{% url 'profile' %}">
    Mijn voortgang
  </a>
</li>
{% endif %}
{% if request.user|has_group:"Docent" %}
<li>
  <a href="{% url 'shared_profiles' %}">
    Profielen gedeeld met mij
  </a>
</li>
{% endif %}
{% if request.user.is_superuser %}
<li>
  <a href="{% url 'manage_accounts' %}">
    Manage accounts
  </a>
</li>
{% endif %}
{% endblock %}

{% block "secondary-nav" %}
<nav id="secondary-nav" class="darktheme">
  <ul id="secondary-nav-links" class="row navbar">
    <li>
      <a class="active-nav-link" href="{% url 'profile' %}">
        Voortgangsdiagram
      </a>
    </li>
    <li>
      <a href="{% url 'profile_settings' %}">
        Persoonlijke Opties en Delen
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block "main-content" %}
<article id="overzicht" class="content-section">
  {% include "webapp/includes/profile_evaluation.html" %}
</article>
{% endblock %}


{% block "scripts" %}
{% load static %}
<script type="text/javascript">
  const levelMapping = {"N": 0, "B" : 1, "IO" : 2, "S" : 3, "BC" : 4, "PC" :5};
  let psLevelValues = {};
  let bpbLevelValues = {};
  {% for section in ps_profile %}
    psLevelValues["{{section.1}}"] = levelMapping["{{section.2}}"];
  {% endfor %}
  {% for section in bpb_profile %}
    bpbLevelValues["{{section.1}}"] = levelMapping["{{section.2}}"];
  {% endfor %}
</script>
<script src="{% static 'webapp/js/html2pdf.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/showSection.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/savedFoldWindow.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/evalGraphs.js' %}"></script>
<script type="text/javascript">
  const firstPSChartBtn = document.querySelector(".ps-chart-btn");
  const firstBPBChartBtn = document.querySelector(".bpb-chart-btn");
  showTab(firstPSChartBtn, '.ps-chart-btn', '#ps-chart-1', '.ps-chart');
  showTab(firstBPBChartBtn, '.bpb-chart-btn', '#bpb-chart-1', '.bpb-chart');

  const downloadImgs = function(e) {
    const psChartList = document.querySelectorAll(".ps-chart");
    const bpbChartList = document.querySelectorAll(".bpb-chart");
    let activePsChart, activeBpbChart;
    psChartList.forEach((chart) => {
      if (chart.style.display === "flex") {
        activePsChart = chart;
      }
      chart.style.display = "flex"
    });
    bpbChartList.forEach((chart) => {
      if (chart.style.display === "flex") {
        activeBpbChart = chart;
      }
      chart.style.display = "flex"
    });
    const chart1 = document.querySelector("#ps-chart-1");
    const chart2 = document.querySelector("#ps-chart-2");
    const chart3 = document.querySelector("#ps-chart-3");
    const chart4 = document.querySelector("#bpb-chart-1");
    const chart5 = document.querySelector("#bpb-chart-2");
    const chart6 = document.querySelector("#bpb-chart-3");
    const chart7 = document.querySelector("#bpb-chart-4");

    var opt = {
      margin:       20,
      filename:     'mijn_leerkrachtlijn.pdf'
    };
    html2pdf().set(opt).from(chart1).toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart2).toContainer().toCanvas().toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart3).toContainer().toCanvas().toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart4).toContainer().toCanvas().toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart5).toContainer().toCanvas().toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart6).toContainer().toCanvas().toPdf().get('pdf').then(function (pdf) {
      pdf.addPage();
    }).from(chart7).toContainer().toCanvas().toPdf().save();
  }

  document.querySelector("#downloadimgbtn").addEventListener("click", downloadImgs, false);
</script>

{% endblock %}
