{% extends "webapp/page_base.html" %}

{% block "page-theme" %} orange-theme {% endblock %}

{% block "page-header" %}
<h1> Profielen gedeeld met mij </h1>
{% endblock %}

{% block "main-nav" %}
{% load webapp_tags %}
{% if request.user|has_group:"Leerling" %}
<li>
  <a href="{% url 'profile' %}">
    Mijn profiel
  </a>
</li>
{% endif %}
<li>
  <a class="active-nav-link"
     href="{% url 'shared_profiles' %}">
    Profielen gedeeld met mij
  </a>
</li>
<li>
  <a href="{% url 'theory'%}">
    Leer-Kracht-Lijn theorie
  </a>
</li>
{% endblock %}

{% block "main-content" %}
<section class="content-section">
  <header id="main-content-header">
    <h1>Overzicht van profielen</h1>
  </header>

  <nav class="row darktheme">
    <fieldset>
      <input onkeyup="filterSharedProfiles();" id="studentname" type="text" placeholder="Zoek student op naam..">
      <input onkeyup="filterSharedProfiles();" id="studentid" type="text" placeholder="Zoek student op studentId..">
    </fieldset>
  </nav>
  <ul id="student-overview" class="listing">
    {% for profile in request.user.accessable_user_profile.all %}
    <li>
      <span class="name-data">{{profile.profile_owner}}</span>
      <span class="id-data">{{profile.student_id}}</span>
      <form action="{% url 'view_shared_profile' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{profile.pk}}">
        <input class="actionbtn" type="submit" value="Bekijk profiel">
      </form>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
