@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Lato&display=swap');

* {
  --dark-gray-color: rgb(45, 45, 55);
  --darkmid-gray-color: rgb(60, 60, 70);
  --mid-gray-color: rgb(80, 80, 90);
  --lightmid-gray-color: rgb(140,140,150);
  --light-gray-color: rgb(230,230,235);
  --green-color: rgb(20, 185, 125);
  --blue-color: rgb(80, 120, 220);
  --orange-color: rgb(235, 165, 85);
  --light-orange-color: rgb(255, 220, 140);
  --red-color: rgb(220, 80, 120);
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

body {
  color: var(--dark-gray-color);
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
}

button,
input[type="submit"] { cursor: pointer; }

fieldset { border: none; }

form > button {
  width: fit-content;
}

h1 { font-family: 'Bai Jamjuree', sans-serif; }

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 0.5em;
  color: black !important;
  font-weight: 400 !important;
  padding: 0.1em 0.4em;
  width: 220px;
}

input[type="checkbox"] {
  margin-left: 1em;
}

ul { list-style-type: none; }

/******************************************************************************/

.ps-color { color: var(--blue-color); }
.bpb-color { color: var(--green-color); }
.pi-color { color: var(--red-color); }

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-fill {
  flex: 1;
  min-height: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100vw;
  max-width: 800px;
}

.default_hidden { display: none; }

/******************************************************************************/

#main-nav {
  justify-content: space-between;
  order: 1;
}

#secondary-nav { order: 3; }

#page-header {
  background-color: var(--orange-color);
  height: 200px;
  justify-content: center;
  align-items: center;
  order: 2;
}

#page-header h1 {
  font-size: 200%;
  font-weight: bold;
  color: white;
}

#main-content { order: 4; }

.content-section {
  padding-top: 3em;
  flex-direction: column; }

.content-section > section { margin-bottom: 3em; }

.content-section > section > header { font-size: 120%;}

.content-section p { margin-bottom: 2em; }

.listing {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 50px;
}

.listing > li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2px solid var(--light-gray-color);
}

.navbar {
  border-bottom: 2px solid var(--light-gray-color);
  font-weight: bold;
  align-items: center;
  padding: 0 2em;
}

.darktheme {
  background-color: var(--dark-gray-color);
  color: white;
  border-bottom: none;
}

.navbar > ul { justify-content: center; }
.navbar > ul > li { padding: 1em 0.5em; }
.navbar > ul > li  a { padding: 1em 0.5em; }

.main-content-header,
#main-content-header {
  font-size: 175% !important;
}

.tabbtn {
  background-color: var(--lightmid-gray-color);
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
}

.tabbtn.active {
  background-color: var(--orange-color);
}

.accordion > header > button {
  background-color: white;
  border: none;
  border-bottom: 2px solid var(--lightmid-gray-color);
  text-align: left;
  padding: 0.5em 1em;
  margin-right: 1em;
}

.actionlink,
.actionbtn {
  background-color: var(--orange-color);
  border: none;
  color: white !important;
  font-weight: bold;
  padding: 0.5em 1em;
}

.active-nav-link {
  border-bottom: 6px solid var(--orange-color);
  color: var(--orange-color);
}

.content-section article {
  margin-bottom: 2em;
}

.content-section nav {
  background-color: var(--dark-gray-color);
  color: white;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.content-section nav input[type="text"] {
  margin-right: 30px;
}

.content-section a {
  color: var(--orange-color);
  font-weight: bold;
}

.content-section a:hover {
  text-decoration: underline;
}

/******************************************************************************/

.blue-theme #page-header {
  background-color: var(--blue-color);
}

.blue-theme .content-section a {
  color: var(--blue-color);
}

.blue-theme .active-nav-link {
  border-bottom: 6px solid var(--blue-color);
  color: var(--blue-color);
}

.blue-theme .actionbtn {
  background-color: var(--blue-color);
}

.red-theme #page-header {
  background-color: var(--red-color);
}

.red-theme .content-section a {
  color: var(--red-color);
}

.red-theme .active-nav-link {
  border-bottom: 6px solid var(--red-color);
  color: var(--red-color);
}

.red-theme .actionbtn {
  background-color: var(--red-color);
}


.green-theme #page-header {
  background-color: var(--green-color);
}

.green-theme .content-section a {
  color: var(--green-color);
}

.green-theme .active-nav-link {
  border-bottom: 6px solid var(--green-color);
  color: var(--green-color);
}

.green-theme .actionbtn {
  background-color: var(--green-color);
}

/******************************************************************************/

#teacher-overview > .shared  button,
#teacher-overview > .unshared  button {
  background-color: white;
  border-radius: 1.1em;
  font-weight: bold;
  padding: 0.2em 1em;
}

#teacher-overview > .shared button {
  border: 3px solid var(--green-color);
  color: var(--green-color);
}

#teacher-overview > .unshared button {
  border: 3px solid var(--lightmid-gray-color);
  color: var(--lightmid-gray-color);
}

.eval-charts > figure {
  max-width: 600px;
  margin: 0 auto;
}


/******************************************************************************/

#sidebar-nav { width: 500px; }

#sidebar-nav > ul {
  font-size: 105%;
  padding: 1em 1.5em;
}

#sidebar-nav > ul > li {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

#sidebar-nav > ul > li > i {
  text-align: center;
  font-size: 250%;
  margin-bottom: 0.3em;
}

#sidebar-nav ul {
  flex-direction: column;
}

#sidebar-nav li {
  padding-left: 20px;
}

#sidebar-nav a {
  padding: 6px 10px;
  padding-right: 0;
  width: fit-content;
}

#sidebar-nav button {
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0 0.5em;
}



.category-header,
.subcategory-header,
.subsubcategory-header {
  align-items: baseline;
}

.category-header > button {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 120%;
}

.subcategory-header > button {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 120%;
}

.subsubcategory-header {
  font-size: 105%;
}

.content-section a {
  font-size: 16px;
}

.content-section blockquote {
  background-color: var(--light-orange-color);
  border: 2px solid var(--orange-color);
  font-style: italic;
  padding: 1em 2em;
}

.profile-subcategories,
.profile-subsubcategories { width: 80%; }

#sidebar-nav li {
  margin-bottom: 0.5em;
}

#sidebar-nav .active-nav-link {
  border-bottom: none;
  font-weight: bold;
}

#sidebar-nav .active-nav-link > ul {
  margin-top: 0.5em;
}

#sidebar-nav .active-nav-link > a {
  border-bottom: 3px solid;
}

#sidebar-nav .active-nav-link > ul {
  color: var(--dark-gray-color);
  font-weight: 400;
}


/******************************************************************************/

.suggestion-questions {
  list-style-type: disc;
  margin-left: 2em;
}

.question-answer-form {
  padding-top: 2em;
}

.question-answer-form textarea {
  margin-bottom: 1em;
}

.foldbutton {
  background-color: rgba(0,0,0,0);
  border: none;
  color: var(--red-color);
  font-weight: bold;
}

.foldbutton > i {
  margin-left: 0.5em;
  font-size: 110%;
}

.resource-reference {
  font-style: italic;
}

.resource-title {
  font-size: 110%;
  font-weight: bold;
}

.iconbtn {
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0.2em 1em;
}

.iconbtn:hover, .iconbtn:focus {
  color: var(--orange-color);
}

#edit-email input[type="email"] {
  border: 2px solid var(--mid-gray-color);
  width: 200px;
  margin: 1em 0;
}
